@if (!isLoading) {
  <div class="portfolio-container" 
    (click)="changeBackground()" 
    [style.backgroundImage]="getBackgroundImage()"
    [ngClass]="isDarkMode()"
    >

    @if (currentMedia.type === MediaType.Video) {
      <video class="background-video" [src]="currentMedia.path" autoplay loop></video>
    }

    @if (currentMedia.type === MediaType.Pdf) {
      <p class="text-box" [ngClass]="isDarkMode()">{{ currentTextBox }}</p>
    }


    <app-header [darkMode]="darkMode"></app-header>

    <div class="sidebar">
      <ul>
        @for (project of projectLinks; track project) {
          <li>
            <a class="project-link"
              (click)="handleProjectClick($event)"
              [routerLink]="[]" 
              [fragment]="project.link"
              [ngClass]="{'dark-mode': isDarkMode(), 'selected': currentProject === project.link}">
              {{ project.name }}
            </a>
          </li>
        }
      </ul>
    </div>
    
  </div>
}
  