.sidebar {
    width: 300px;
    padding: 20px;
    margin-left: 110px;
    margin-top: 180px;
    z-index: 2;
}

@font-face {
    font-family: 'DMSansItalic';
    src: url('/assets/fonts/DMSans-Italic.ttf') format('truetype');
}